@use '../abstracts/variables' as *;

.dropdown{
    width: 10%;
    display: flex;
    justify-content: space-around;
    &_menu{
        width: 100%;
        position: relative;
        cursor: pointer;
        .selected{
            display: flex;
            flex-direction: row;
            border: 0;
        }
        .options{
            display: flex;
            flex-direction: column;
            gap: 1vh;
            position: absolute;
            top: 5vh;
            right: 10%;
            padding: 5px 0 5px 0;
            border-radius: 5px;
            font-size: 15px;
            background-color: white;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
            font-weight: 600;
            .option{
                white-space: nowrap;
                padding: 5px 20px 5px 20px;
                text-transform: capitalize;
                transition: $baseTransition;
                a{  
                    color: black !important;
                    transition: $baseTransition;
                }
                &:hover{
                    background-color: $pronia-primary;
                }
                &:hover a{
                    color: white !important;
                }
            }
        }
    }
}