@use '../abstracts/variables' as *;
@use '../abstracts/animations' as *;

.loading {
    width: 60px;
    aspect-ratio: 4;
    position: fixed;
    top: 50%;
    left: 50%;
    --_g: no-repeat radial-gradient(circle closest-side, #abd373 90%,#0000);
    background: 
        var(--_g) 0%   50%,
        var(--_g) 50%  50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: loader 1s infinite linear;
}